.homeContainer{
    padding: 10vh 0 0 0;
}

.homeCover{
    width: 100%;
    height: 80vh;
    background-color: lightblue;
}



.homeSocios{
    width: 100%;
    height: 80vh;
    background-color: beige;
}

.homeContact{
    width: 100%;
    height: 80vh;
    background-color: lightpink;
}




/* SERVICIOS */

.homeServices{
    width: 100%;
    height: 80vh;
    background-color: lightcoral;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10vh 0 0 0;
}

.homeServices>h2{
    font-size: 8vh;
}

.homeServices>h3{
    font-size: 4vh;
    margin: 0 0 6vh 0;
}

.gridServices{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 20px;
}

.serviceItem{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 20vh;
    align-items: center;
    background-color: brown;
}

.serviceDesc{
    margin: 0 0 0 4vh;
    width: 80%;
}

.serviceDesc>h3{
    font-size: 4.5vh;
    margin-bottom: 1.5vh;
}

.serviceDesc>h4{
    font-size: 2.5vh;
}

.serviceIcon{
    width: 10vh;
    height: 10vh;
}



/* CLIENTES */
.homeClients{
    width: 100%;
    height: 100%;
    background-color: lightcyan;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10vh 0 0 0;
}

.homeClients>h2{
    font-size: 8vh;
}

.homeClients>h3{
    font-size: 4vh;
    margin: 0 0 6vh 0;
}

.clientsGrid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 20px;
}



/* GALERIA */

.homeGallery{
    background-color: lightgreen;
}
.carouselItem{
    display: flex;
    justify-content: center;
}

