.navBarContainer{
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    z-index: 99;
    background: rgb(255,255,255);
background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 52%, rgba(255,255,255,1) 80%, rgba(0,212,255,0) 100%);
font-family: 'Encode Sans Semi Condensed', sans-serif;
}

.navBarContainerNone{
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    z-index: 99;
    background: rgb(255,255,255);
background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 52%, rgba(255,255,255,1) 80%, rgba(0,212,255,0) 100%);
font-family: 'Encode Sans Semi Condensed', sans-serif;
}

.navBarItem>a{
    text-decoration: none;
    color: gray;
}

.logoImg{
    width: 3vw;
    margin: 0 0 1.5vh 3.4vw;
    border-radius: 50%;
    transition: all 1s;
}

.logoImg:hover{
    cursor: pointer;
    rotate: 360deg;
}

.navBarList{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-left: auto;
    padding-right: 3vw;
}

.navBarItem{
    color: gray;
    margin: 0 2vw 0;
    font-size: 3vh;
}
.navBarItem:hover{
    color: black;
    cursor: pointer;
}

.arrowUp{
    width: 7.5vh;
    height: 7.5vh;
    background-color: #f19101;;
    display: flex;
    position: fixed;
    z-index: 100;
    top: 90%;
    right: 3%;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.arrowUpNone{
    display: none;
}

.arrowUpIcon:hover{
    cursor: pointer;
    rotate: 360deg;
}

.arrowUpIcon{
    width: 5vh;
    height: 5vh;
    color: #fff;
    transition: all 1s;
}
